* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

body {
    background-color: #EEEEEE;
}

header{
    background-color: #3868D6;
    margin-bottom: 32px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header h1, header a {
    color: #FFF;
}

header h1 {
    font-weight: bold;
    font-style: italic;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-left: 18px;
}

header ul li a {
    text-decoration: none;
}

#sobre-loja {
    display: grid;
    grid-template-columns: 39% 59%;
    column-gap: 2%;
}

#sobre-loja img {
    max-width: 100%;
    height: 100%;
}

#sobre-loja h2,
#produtos h2{
    color: #3868D6;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 14px;
    border-bottom: 2px solid #3868D6;
    margin-bottom: 32px;
}

#sobre-loja, #produtos {
    margin-bottom: 48px;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

.produtos .produto img {
    max-width: 100%;
    margin-bottom: 8px;
}

.produto h3 {
    margin-bottom: 8px;
}

.produto a {
    background-color: #3868D6;
    color: #FFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    margin-top: 12px;
}

/* Layout Tablet */
@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container{
        max-width: 90%;
    }

    #sobre-loja {
        display: block;
    }
    
    #sobre-loja img {
        max-width: 100%;
        height: 100%;
        margin-bottom: 14px;
    }

    .produtos {
        grid-template-columns: repeat(2, 49%);
    }
}

/* Mobile */

@media screen and (max-width: 640px) {
    .container{
        max-width: 90%;
    }

    header ul {
        display: block;
    }

    header ul li {
        margin-left: 0;
    }

    #sobre-loja {
        display: block;
    }
    
    #sobre-loja img {
        max-width: 100%;
        height: 100%;
        margin-bottom: 14px;
    }

    .produtos {
        display: block;
    }

    .produtos .produto {
        margin-bottom: 32px;
    }
}